body {
  background-image: url(../images/nyakio.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #005959;
}
div.images img {
  height: 70px;
  width: 70px;
  color: #005959;

}

div.images {
font-size: 50px;
padding: 30px;
width: 50%;
font-weight: bold;
}

div.contact-header {
  font-size: 80px;
  width: 60%;
  font-style: italic;
  font-weight: lighter;
  padding-left: 15px;
}
