.topbar {
  background-color: #4CA6A6;
  color: white;
  margin: 20px;
  padding: 30px
}

body {
  background-image: url(../images/Background.jpg);

}
.column {
  width: 350px;

  background-color: maroon;
}

img {
  border-radius:50%;
  max-width: 500px;

}
p.columns {
  float: right;
}
